body{
   display: flex;
   flex-direction: column;
   margin: 0%;
}

/* Header section */
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    margin: 0%;
    padding: 0%;
    gap: 16px;
}
  
a{
    color: #666;
    text-decoration: none;
}

/*Hero section*/
.hero-section {
    background-color: #1f2937;
}
.hero {
    display: flex;
    justify-content: space-evenly;
}

/* second section*/

.second-section h1 {
    text-align: center;
}

.second-section-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/*third section*/
.third-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    width: 800px;
    font-size: 24px;
    font-weight: 900;
    color: #1F2937;
}

/*forth section*/
.forth-section {
    display: flex;
    justify-content: center;
    padding: 100px;
    
}

.call-to-action {
    display: flex;
    flex: 1;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    padding: 80px 200px 80px;
    color: #e5e7eb;
    background-color: #3882f6;
    
}

.call-to-action .text {
    margin-right: auto;
}

.sign-up {
    background-color: #3882f6;
    color: #E5E7EB;
    border-color: white;
    border-radius: 10px;
    flex-shrink: 0;
    padding: 8px 24px 8px;
}