body{
   display: flex;
   flex-direction: column;
   margin: 0%;
}

/* Header section */
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    margin: 0%;
    padding: 0%;
    gap: 16px;
}
  
a{
    color: #666;
    text-decoration: none;
}

/*Hero section*/
.hero-section {
    background-color: #1f2937;
}
.hero {
    display: flex;
    justify-content: space-evenly;
}

/* second section*/

.second-section h1 {
    text-align: center;
}

.second-section-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/*third section*/
.third-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    width: 800px;
    font-size: 24px;
    font-weight: 900;
    color: #1F2937;
}